<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0">IFA - Ecuador
    </h1>
    <div class="subheading mb-5">Corporación para el Desarrollo de la Producción y el Medio Ambiente Laboral.
    </div>
    <p>IFA Corporación para el Desarrollo de la Producción y el Medio
  Ambiente Laboral, es una institución ecuatoriano-sueca,
  dedicada a la investigación, comunicación, formación y
  capacitación, asesoría en el campo de la Organización del
  Trabajo, Salud Ocupacional y Ambiental.</p>

    <p>Las actividades de Investigación que IFA realiza se desarrollan
  en torno a establecer la situación del medio ambiente de trabajo
  en las áreas productivas, su impacto en el ambiente externo y
  sus efectos sobre la salud de los trabajadores y de la población.
  IFA, creada en 1992, es una organización no gubernamental de
  derecho privado sin fines de lucro establecida en Quito.</p>

    <p class="mb-5">Como resultado de los trabajos de investigación realizados,
  por ejemplo en sectores florícola, bananero, petrolero, minero,
  industrial, entre otros. Se ha producido material de divulgación
  científica así como publicaciones para la comunicación de los
  riesgos a la comunidad y a los trabajadores.</p>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <img class="rounded-expimg" src="img/bacteria.jpg">
      </li>
      <li class="list-inline-item">
        <img class="rounded-expimg" src="img/tinta.jpg" width="70">
      </li>
      <li class="list-inline-item">
        <img class="rounded-expimg" src="img/medir.jpg" width="70">
      </li>
      <li class="list-inline-item">
        <img class="rounded-expimg" src="img/respirar.jpg" width="70">
      </li>
      <li class="list-inline-item">
        <img class="rounded-expimg" src="img/trabajar.jpg" width="70">
      </li>
      <li class="list-inline-item">
        <img class="rounded-expimg" src="img/frutillas.jpg" width="70">
      </li>
    </ul>
  </div>
</section>