<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contacto">
  <div class="my-auto">
    <h2 class="mb-5">Contacto</h2>
    <p>
      Tel. <a href="tel:+59322275662">+593-2-2275662</a> / <a href="tel:+59322455045">+593-2-2455045</a><br>
      Celular. <a href="tel:+593999213108">+593-(0)999-213108</a><br>
      Email. <a href="mailto:ifa@ifa.org.ec">ifa@ifa.org.ec</a><br>
      Direction. <a target="_blank" href="https://www.google.se/maps/place/Isla+Isabela,+Quito+170138/@-0.1588162,-78.4796604,19z/data=!3m1!4b1!4m8!1m2!2m1!1sifa+ecuador!3m4!1s0x91d59aa6e43b7533:0x73eff394a68dab28!8m2!3d-0.1588162!4d-78.4791132">IFA, Isla Isabela N44-572 entre Guepi y 6 de Diciembre.Jipijapa.Quito, Ecuador</a><br>
      Postal. Casilla de Correo No. 17-08-8386 Quito. Ecuador
    </p>
  </div>
</section>