<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="manuales">
  <div class="my-auto">
    <h2 class="mb-5">Manuales</h2>
    
    <div class="row"> 
     {{ range $.Site.Data.manuales }}
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="{{ .img }}" alt="{{ .title }}">
          <div class="media-body">
            <h5 class="mt-0">{{ .title }}</h5>
            {{ if ne .pdf "" }}
            <a href="{{ .pdf }}" target="_blank">Descargar</a>
            {{ end }}
          </div>
        </div>
      </div>
     {{ end }}
    </div>
  </div>
</section>
