<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="postersdeconferencias">
  <div class="my-auto">
    <h2 class="mb-5">Posters de conferencias</h2>
    {{ range $.Site.Data.postersdeconferencias }}
    <div class="media">
      <img class="mr-3" style="width:168px" src="{{ .img }}" alt="{{ .title }}">
      <div class="media-body">
        <h5 class="mt-0">{{ .title }}</h5>
        <p>{{ .text }}</p>
        <a href="{{ .pdf }}" target="_blank">Descargar</a>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{ .year }}</span>
      </div>
    </div>
    <hr>
    {{ end }}
  </div>
</section>