<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="postersdeconferencias">
  <div class="my-auto">
    <h2 class="mb-5">Posters de conferencias</h2>
    <div class="media">
      <img class="mr-3" style="width:168px" src="img/posters/PHIME_triptico.jpg" alt="PHIME Triptico">
      <div class="media-body">
        <h5 class="mt-0">PHIME Triptico</h5>
        <p>Bla bla bal</p>
        <a href="docs/posters/PHIME_triptico.pdf" target="_blank">Descargar</a>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2006</span>
      </div>
    </div>
    <hr>
    <div class="media">
      <img class="mr-3" style="width:168px" src="img/posters/1.jpg" alt="HEAD 2">
      <div class="media-body">
        <h5 class="mt-0">Poster 2</h5>
        <p>Bla bla bal</p>
        <a href="docs/Seminarie_Salud.pdf" target="_blank">Descargar</a>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Año</span>
      </div>
    </div>
    <hr>
    <div class="media">
      <img class="mr-3" style="width:168px" src="img/posters/1.jpg" alt="HEAD 3">
      <div class="media-body">
        <h5 class="mt-0">Poster 3</h5>
        <p>Bla bla bal</p>
        <a href="docs/Seminarie_Salud.pdf" target="_blank">Descargar</a>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Año</span>
      </div>
    </div>
    <hr>
  </div>
</section>