<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="proyectos">
  <div class="my-auto">
    <h2 class="mb-5">Proyectos</h2>
    <p>IFA participa en proyectos internacionales.</p>
    <hr>
    <div class="media">
      <img class="mr-3" style="width:92px" src="img/phime.png" alt="PHIME">
      <div class="media-body">
        <h5 class="mt-0"><a target="_blank" href="https://www.med.lu.se/labmedlund/amm/forskning/haelsorisker_av_metaller/phime">PHIME</a></h5>
        PHIME (Public health impact of long-term, low-level mixed element exposure in susceptible
        population strata) was an Integrated Project within EU´s Sixth Framework Programme for
        Research & Technological Development. It ran 2006-2011 with 35 Partners in 22 countries.
        <a href="docs/PHIME-Final-Report.pdf" target="_blank">Final report</a>.
      </div>
    </div>
    <hr>
    <div class="media">
      <img class="mr-3" style="width:92px" src="img/wlt-logo.png" alt="WLT">
      <div class="media-body">
        <h5 class="mt-0"><a target="_blank" href="http://toxipedia.org/display/wlt/Ecuador">The World Library of Toxicology</a></h5>
        The World Library of Toxicology, Chemical Safety, and Environmental Health is a free global Web portal that provides the scientific community and public with links to major government agencies, non-governmental organizations, universities, professional societies, and other groups addressing issues related to toxicology, public health, and environmental health.
      </div>
    </div>
    <hr>
    <div class="media">
      <img class="mr-3" style="width:92px" src="img/opadls.png" alt="ORGANIZACIÓN PANAMERICANA DE LA SALUD">
      <div class="media-body">
        <h5 class="mt-0"><a target="_blank" href="https://www.uml.edu/docs/Eliminacion%20de%20Mercurio%20en%20el%20Sector%20Salud_tcm18-108558.pdf">Eliminación de Mercurio en el Sector Salud: Manual para Identificar Alternativas más Seguras</a></h5>
        En corperation con IFA - UMAS - OPS, Un manual para diseñar, implementar y evaluar la reducción del uso de mercurio en su hospital.
      </div>
    </div>
  </div>
</section>