<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publicacionesnacionales">
  <div class="my-auto">
    <h2 class="mb-5">Publicaciones Nacionales</h2>
    
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/1.jpg" alt="D.M.Q.">
          <div class="media-body">
            <h5 class="mt-0">D.M.Q. Ambiente y Salud</h5>
             
            <a href="docs/DMQ_AMBIENTEYSALUD2.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/2.jpg" alt="Seguridad, Salud y Ambiente en la Floricultura">
          <div class="media-body">
            <h5 class="mt-0">Seguridad, Salud y Ambiente en la Floricultura</h5>
             
            <a href="docs/floricultura.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/3.jpg" alt="El mejoramiento de la producción y el medio ambiente laboral en la pequeña industria">
          <div class="media-body">
            <h5 class="mt-0">El mejoramiento de la producción y el medio ambiente laboral en la pequeña industria</h5>
             
            <a href="docs/mejoramientoproduccion.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/4.jpg" alt="EsTRATEgIA INDUsTRIAL y medio ambiente laboral en Ecuador">
          <div class="media-body">
            <h5 class="mt-0">EsTRATEgIA INDUsTRIAL y medio ambiente laboral en Ecuador</h5>
             
            <a href="docs/estrategia_industrial.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/5.jpg" alt="Los Productos Agrícolas No Tradcionales de Exportación y las Condiciones De Trabajo: ALGUNOS EJEMPLOS EN ECUADOR">
          <div class="media-body">
            <h5 class="mt-0">Los Productos Agrícolas No Tradcionales de Exportación y las Condiciones De Trabajo: ALGUNOS EJEMPLOS EN ECUADOR</h5>
             
            <a href="docs/LIBROPANTE.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/6.jpg" alt="SALUD EN EL TRABAJO Y REFORMAS LABORALES Documentos de discusión">
          <div class="media-body">
            <h5 class="mt-0">SALUD EN EL TRABAJO Y REFORMAS LABORALES Documentos de discusión</h5>
             
            <a href="docs/saludfin.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/7.png" alt="El ambiente y la salud epidemiologia ambiental">
          <div class="media-body">
            <h5 class="mt-0">El ambiente y la salud epidemiologia ambiental</h5>
             
            <a href="docs/LIBROELAMBIENTEYLASALUDEPIDEMIOLOGIAAMBIENTAL.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/8.jpg" alt="Red Lat">
          <div class="media-body">
            <h5 class="mt-0">Las Relaciones Económicas y Geopolíticas entre China y América Latina</h5>
             
            <a href="docs/REDLAT.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/9.jpg" alt="La Relación entre Comunidad y empresa floricola: el ambiente y la salud">
          <div class="media-body">
            <h5 class="mt-0">La Relación entre Comunidad y empresa floricola: el ambiente y la salud</h5>
             
            <a href="docs/relacion.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/11.jpg" alt="Floricultura y desarrollo local: conflictos y consensos">
          <div class="media-body">
            <h5 class="mt-0">Floricultura y desarrollo local: conflictos y consensos</h5>
             
            <a href="docs/floriculturadesarrollolocal.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/13.png" alt="Las certificaciones en la producción floricola en equador">
          <div class="media-body">
            <h5 class="mt-0">Las certificaciones en la producción floricola en equador</h5>
             
            <a href="docs/certificacionesflores.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/14.jpg" alt="Trabajo y Salud en ecuador: Antecedentes, eperiencias y perspectivas.">
          <div class="media-body">
            <h5 class="mt-0">Trabajo y Salud en ecuador: Antecedentes, eperiencias y perspectivas</h5>
             
            <a href="docs/TrabajosaludEcuador.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/15.jpg" alt="MACHETE, SUDOR Y ENFERMEDAD">
          <div class="media-body">
            <h5 class="mt-0">MACHETE, SUDOR Y ENFERMEDAD</h5>
             
            <a href="docs/machetesudor.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/16.jpg" alt="Condiciones de trabajo y derechos laborales en la floricultura ecuatoriana">
          <div class="media-body">
            <h5 class="mt-0">Condiciones de trabajo y derechos laborales en la floricultura ecuatoriana</h5>
             
            <a href="docs/condicionesyderechos.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/17.jpg" alt="Trabajo, Seguridad y Salud en la Industria Metalmecánica y Automotriz">
          <div class="media-body">
            <h5 class="mt-0">Trabajo, Seguridad y Salud en la Industria Metalmecánica y Automotriz</h5>
             
            <a href="docs/LibroSeguridad.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/23.jpg" alt="Residuos peligrosos, ambiente y evaluación del impacto en salud">
          <div class="media-body">
            <h5 class="mt-0">Residuos peligrosos, ambiente y evaluación del impacto en salud</h5>
             
            <a href="docs/residuospeligrosos.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/24.jpg" alt="PRODUCCION BANANERA Impacto en la Salud y el Ambiente">
          <div class="media-body">
            <h5 class="mt-0">PRODUCCION BANANERA Impacto en la Salud y el Ambiente</h5>
             
            <a href="docs/LIBROBANANO.pdf" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/25.jpg" alt="Efectos Sociales de la Globalización">
          <div class="media-body">
            <h5 class="mt-0">Efectos Sociales de la Globalización: Petrólero, banano, y flores en ecuador</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/26.jpg" alt="">
          <div class="media-body">
            <h5 class="mt-0">La minería del oro artesanal y a pequeña escala en Ecuador: Trabajo, ambiente y salud</h5>
            <a href="mailto:ifa@ifa.org.ec?subject=Ordernar: La minería del oro artesanal y a pequeña escala en Ecuador">Quieres ordenar este libro?</a>  Envía un e-mail a: ifa@ifa.org.ec
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="media book">
          <img class="mr-3 book" src="img/libros/27.jpg" alt="">
          <div class="media-body">
            <h5 class="mt-0">Viejos y Nuevos Problemas de Slud ocupacional</h5>
            Memorias del Seminario, QUITO, 25-29 de Agosto de 1997.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>