<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="publicacionesinternacionales">
  <div class="my-auto">
    <h2 class="mb-5">Publicaciones Internacionales</h2>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Situación de la Salud en Ecuador, para la “Salud de las Americas”</h3>
        <div class="subheading mb-3">Health situation in Ecuador, for the “Health of the Americas”</div>
        <div>Harari R.</div>
        <p>PAHO-Washington. 1985. Spanish.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1985</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Algunas consideraciones preliminares acerca de las condiciones de trabajo y trabajadores.</h3>
        <div class="subheading mb-3">Some preliminary considerations about working conditions and workers’ health in Ecuador</div>
        <div>Harari R and Comi N.</div>
        <p>CLACSO. Argentina. 1986. Spanish.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1986</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Exposición a plaguicidas organofosforados y salud de los trabajadores en siete estrategias productivas.</h3>
        <div class="subheading mb-3">Organophosphate pesticides exposure and workers’ health in seven productive strategies</div>
        <div>Harari, R., et. al.</div>
        <p>Revista Salud Problema, 17;1993. Mexico. Spanish.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1993</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/9990157">Occupational Health Research in Developing Countries: The Experience in Ecuador</a></h3>
        
        <div>Cullen MR, Harari R.</div>
        <p>Int J Occup Environ Health. 1995 Jan;1(1):39-46</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1995</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/7574899">Childhood lead intoxication associated with manufacture of roof tiles and ceramics in the Ecuadorian Andes.</a></h3>
        
        <div>Harari R Cullen MR.</div>
        <p>Arch Environ Health. 1995 Sep-Oct;50(5):393</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1995</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Flexibilidad Laboral y Trabajo Precario en Cultivos de Exportación No Tradicionales.</h3>
        <div class="subheading mb-3">Labor Flexibility and Precarious Work in Non-Traditional Export Crops in Ecuador</div>
        <div>Harari R, Fonseca JC.</div>
        <p>CLACSO. Chile. Spanish</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1996</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/9219645">Unacceptable “occupational” exposure to toxic agents among children in Ecuador.</a></h3>
        
        <div>Harari R, Forastiere F, Axelson O.</div>
        <p>Am J Ind Med. 1997 Sep;32(3):185-9.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1997</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Silicosis among gold miners in Ecuador: an actual problem.</h3>
        
        <div>Harari R, Herrera D, Parker JE.</div>
        <p>European Journal of Oncology. 1999; 4(5):553-555.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1999</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Health conditions of Ecuadorian working children.</h3>
        
        <div>Harari R, Forastiere F, Axelson O.</div>
        <p>European Journal of Oncology. 1999; 4(6):627-629.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1999</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Floricultura en Ecuador: Retos Ambientales y de Salud.</h3>
        <div class="subheading mb-3">Flowerculture in Ecuador: environmental and health challenges</div>
        <div>Harari R.</div>
        <p> Pesticide Safety News. The International Centre for Pesticide Safety. Italy. 1999 Jun; 2(3). Spanish.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">1999</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Nephro and neurotoxic effects in long-term mercury exposed gold miners and byers.</h3>
        
        <div>Gerhardsson L, Harari R, Schütz A,  Staffan S.</div>
        <p>Toxicology of Metals. A symposium in memory of Andrejs Schütz, PhD. Lund University. Department of Occupational and Environmental Medicine. Sweden. 2002.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2002</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/14979106">Occupational exposure to fungicides in floriculture in Ecuador.</a></h3>
        
        <div>Colosio C, Harari R, Birindelli S, Campo L, Fustinoni S, Harari H, Somaruga C, Tiramani M, Visentin S, Maroni M.</div>
        <p>G Ital Med Lav Ergon. 2003 Jul-Sep;25 Suppl(3):107-8. Italy.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2003</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">The evolution of occupational safety and health conditions in Ecuador: 1900-2000.</h3>
        
        <div>Harari R.</div>
        <p>In Origins of Occupational Health Associations in the world. Grieco A, Fano D, Carter T, Lavicoli S. Editors. Elsevier. 2003.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2003</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/15212223">Major concerns in developing countries: applications of the Precautionary Principle in Ecuador.</a></h3>
        
        <div>Harari R, Freire Morales R, Harari H.</div>
        <p>Int J Occup Med Environ Health. 2004;17(1):187-91.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2004</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a href="www.ncbi.nlm.nih.gov/pubmed/16528888"> Olav Axelson, a great master.</a></h3>
        
        <div>Comba P, Forastiere F, Vanacore N, Harari R.</div>
        <p>Epidemiol Prev. 2005 May-Aug;29(3-4):221-4. Italian.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2005</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/16961004">Genetic influences on the retention of inorganic mercury.</a></h3>
        
        <div>Custodio HM, Harari R, Gerhardsson L, Skerfving S, Broberg K.</div>
        <p>Arch Environ Occup Health. 2005 Jan-Feb;60(1):17-23.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2005</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/17119244">Children's environment and health in Latin America: the Ecuadorian case.</a></h3>
        
        <div>Harari R, Harari H.</div>
        <p>Ann N Y Acad Sci. 2006 Sep;1076:660-77.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2006</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a href="www.iss.it/binary/publ/cont/1123-3117_2006_I_06_1.1165504220.pdf">Scientific Collaboration between Italy and Ecuador within Environmental Epidemiology: aim, applicable aspects and methodological approaches.</a></h3>
        
        <div>Harari R, Comba P, Marsili D, and Pirastu R.</div>
        <p>Book: ISTISAN Report 06/01. Istituto Superiore di Sanità. Italy. 2006(2):133.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2006</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/16510633">Pesticide exposure and stunting as independent predictors of neurobehavioral deficits in Ecuadorian school children.</a></h3>
        
        <div>Grandjean P, Harari R, Barr DB, Debes F.</div>
        <p>Pediatrics. 2006 Mar;117(3):546-56.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2006</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.iss.it/binary/epam/cont/0943web.pdf">La prevenzione delle patologie da amianto: un problema di sanità pubblica</a></h3>
        <div class="subheading mb-3">Prevention of the asbestos-related diseases: a public health problem</div>
        <div>Harari R, Marsili D, Comba P.</div>
        <p>Rapporti ISTISAN 09/43. Scientific Collaboration Italy (Istituto Superiore di Sanitá)-Ecuador (IFA). Rome. 2009. Italian.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2009</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/20185383">Neurobehavioral deficits and increased blood pressure in school-age children prenatally exposed to pesticides.</a></h3>
        
        <div>Harari R, Julvez J, Murata K, Barr D, Bellinger DC, Debes F, Grandjean P.</div>
        <p>Environ Health Perspect. 2010 Jun;118(6):890-6. Epub 2010 Feb 25.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2010</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ima.kth.se/utb/mj2693/pdf/Kaj.pdf">OSH Needs in developing countries: Ecuador.</a></h3>
        
        <div>Harari R.</div>
        <p>OSH & Development, UFA- Suecia. April, 2010.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2010</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/20465068">Scientists appeal to Quebec Premier Charest to stop exporting asbestos to the developing world.</a></h3>
        
        <div>
          Takaro TK, Davis D, Van Rensburg SJ, Arroyo Aguilar RS, Algranti E, Bailar 
          JC 3rd, Belpoggi F, Berlin M, Bhattacharya S, Bonnier Viger YV, Brophy J, 
          Bustinza R, Cameron RB, Dement JM, Egilman D, Castleman B, Chaturvedi 
          S, Cherniack M, Choudhury H, Demers PA, Digangi J, Digon A, Edwards 
          JG, Englund A, Erikson B, Corréa Filho HR, Franco G, Frank AL, Freund A, 
          Gee D, Giordano A, Gochfeld M, Gilberg M, Goldsmith DF, Goldstein BD, 
          Grandjean P, Greenberg M, Gut I, Harari R, Hindry M, Hogstedt C, Huff J, 
          Infante PF, Järvholm B, Kern DG, Keifer M, Khatter K, Kjuus H, Keith M, Koo 
          LC, Kumar A, LaDou J, Landrigan PJ, Lemen RA, Last JM, Lee CW, Leigh J, 
          Levin SM, Lippman A, Madrid GA, McCulloch J, McDiarmid MA, Merchant 
          JA, Monforton C, Morse T, Muir DC, Mukerjee D, Mulloy KB, Myers J, 
          Nuwayhid I, Orris P, Ozonoff D, Paek D, Patra M, Pelclová D, Pepper L, Poje 
          GV, Rahman Q, Reyes B, Robinson BW,  Rodríguez E, Rose C, Rosenman 
          KD, Rosenstock L, Ruchirawat M, Rydzyński K, Schneider J, Silverstein B, 
          Siqueira CE, Slatin C, Soffritti M, Soskoline C, Sparer J, Stayner LT, Takaro 
          TK, Tarkowski S, Teitelbaum DT, Tompa A, Trosic I, Turcotte F, Vilela RA, 
          Waterman YR, Watterson A, Wegman DH, Welch LS, Woitowitz HJ, Yanri Z, 
          Zavariz C.
        </div>
        <p>Int J Occup Environ Health. 2010 Apr-Jun;16(2):241-8.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2010</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/21340132">Preventing asbestos-related diseases: operative action for Italian cooperation with Latin-American countries.</a></h3>
        
        <div>Marsili D, Comba P, Bruno C, Calisti R, Marinaccio A, Mirabelli D, Papa L, Harari R.</div>
        <p>Rev Salud Publica (Bogota). 2010 Aug;12(4):682-92.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2010</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/21925580">Exposure and toxic effects of elemental mercury in gold-mining activities in Ecuador.</a></h3>
        
        <div>Harari R, Harari F, Gerhardsson L, Lundh T, Skerfving S, Strömberg U, Broberg K.</div>
        <p>Toxicol Lett. 2012 Aug 13;213(1):75-82. Epub 2011 Sep 14.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2011</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Climate Change, Environment and Health.</h3>
        
        <div>Marsili D, Harari R. Editors.</div>
        <p>International Seminar, 28-30 November 2011. ISTISAN CONGRESSI 11/C7. Istituto Superiore di Sanitá-Universidad-Italia- Tecnológica Equinoccial-Ecuador. Roma, Italia.2011. Italian and Spanish.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2011</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/22257910">Blood cadmium, mercury, and lead in children: an international comparison of cities in six European countries, and China, Ecuador, and Morocco.</a></h3>
        
        <div>Hrubá F, Strömberg U, Černá M, Chen C, Harari F, Harari R, Horvat M, Koppová K, Kos A, Krsková A, Krsnik M, Laamech J, Li YF, Löfmark L, Lundh T, Lundström NG, Lyoussi B, Mazej D, Osredkar J, Pawlas K, Pawlas N, Prokopowicz A, Rentschler G, Spěváčková V, Spiric Z, Tratnik J, Skerfving S, Bergdahl IA.</div>
        <p> Environ Int. 2012 May;41:29-34. Epub 2012 Jan 16.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/22269431">Neurobehavioral and neurodevelopmental effects of pesticide exposures.</a></h3>
        
        <div>London L, Beseler C, Bouchard MF, Bellinger DC, Colosio C, Grandjean P, Harari R, Kootbodien T, Kromhout H, Little F, Meijster T, Moretto A, Rohlman DS, Stallones L.</div>
        <p>Neurotoxicology. 2012 Jan 17. Published on line. </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/22792189">The CUPID (Cultural and Psychosocial Influences on Disability) Study: Methods of Data Collection and Characteristics of Study Sample.</a></h3>
        
        <div>
          Coggon D, Ntani G, Palmer KT, Felli VE, Harari R, Barrero LH, Felknor SA, 
          Gimeno D, Cattrell A, Serra C, Bonzini M, Solidaki E, Merisalu E, Habib RR, 
          Sadeghian F, Kadir M, Warnakulasuriya SS, Matsudaira K, Nyantumbu B, Sim 
          MR, Harcombe H, Cox K, Marziale MH, Sarquis LM, Harari F, Freire R, Harari N, 
          Monroy MV, Quintana LA, Rojas M, Salazar Vega EJ, Harris EC, Vargas-Prada S, 
          Martinez JM, Delclos G, Benavides FG, Carugno M, Ferrario MM, Pesatori AC, 
          Chatzi L, Bitsios P, Kogevinas M, Oha K, Sirk T, Sadeghian A, Peiris-John RJ, 
          Sathiakumar N, Wickremasinghe AR, Yoshimura N, Kielkowski D, Kelsall HL, 
          Hoe VC, Urquhart DM, Derett S, McBride D, Gray A.
        </div>
        <p>PLoS One. 2012;7(7):e39820. Epub 2012 Jul 6.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.sustainableproduction.org/downloads/EliminatingMercuryInHealthCare_Spanish.pdf">Eliminación de mercurio en el Sector Salud: Manual para Identificar Alternativas más Seguras.</a></h3>
        <div class="subheading mb-3">Eliminating Mercury in Health Care: A Workbook to Identify Safer Alternatives</div>
        <div>Clara Rosalía Álvarez Chávez, María Engracia Arce Corrales, Mabeth Burgos-Hernández, Catherine Galligan, Homero Harari, Raúl Harari, Pia Markkanen, Rafael Moure-Eraso, Margaret Quinn</div>
        <p>Universidad de Massachusetts-Lowell-Universidad de Sonora-México-IFA Ecuador-Organización Panamericana de la Salud,  Quito. Ecuador. 2012.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23067057">Transferability of aliphatic isocyanates from recently applied paints to the skin of auto body shop workers.</a></h3>
        
        <div>De Vries TT, Bello D, Stowe MH, Harari H, Slade MD, Redlich CA.</div>
        <p>J Occup Environ Hyg. 2012;9(12):699-711. doi: 10.1080/15459624.2012.728893.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Integrating Modeling and Application of Standardized Data Scheme.</h3>
        
        <div>Hossain M, Harari N, Semere D, Mårtesson P, Ng A, Andersson M.</div>
        <p>
          Swedish Production Symposium, Linköping, Sweden, 2012.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Integrating Modeling and Application of Standardized Data Scheme.</h3>
        
        <div>Hossain M, Harari N, Semere D, Mårtesson P, Ng A, Andersson M.</div>
        <p>Swedish Production Symposium, Linköping, Sweden, 2012.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Manufacturing systems model interoperability in discrete event simulation.</h3>
        
        <div>Svensson Harari N.</div>
        <p> Master of Science Thesis. The Royal Institute of Technology, Industrial Engineering and Management. Stockholm, Sweden 2012</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23017911">Early-life exposure to lithium and boron from drinking wáter.</a></h3>
        
        <div>Harari F, Ronco AM, Concha G, Llanos M, Grandér M, Castro F, Palm B, Nermell B, Vahter M.</div>
        <p>Reprod Toxicol. 2012 Dec;34(4):552-60. doi: 10.1016/j.reprotox.2012.08.009. Epub 2012 Sep 7. </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2012</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23688828">Disabling musculoskeletal pain in working populations: is it the job, the person, or the culture?</a></h3>
        
        <div>
          Coggon D, Ntani G, Palmer KT, Felli VE, Harari R, Barrero LH, 
          Felknor SA, Gimeno D, Cattrell A, Serra C, Bonzini M, Solidaki E, 
          Merisalu E, Habib RR, Sadeghian F, Masood Kadir M, 
          Warnakulasuriya SS, Matsudaira K, Nyantumbu B, Sim MR, 
          Harcombe H, Cox K, Marziale MH, Sarquis LM, Harari F, Freire R, 
          Harari N, Monroy MV, Quintana LA, Rojas M, Salazar Vega EJ, Harris 
          EC, Vargas-Prada S, Martinez JM, Delclos G, Benavides FG, Carugno 
          M, Ferrario MM, Pesatori AC, Chatzi L, Bitsios P, Kogevinas M, Oha 
          K, Sirk T, Sadeghian A, Peiris-John RJ, Sathiakumar N, 
          Wickremasinghe AR, Yoshimura N, Kelsall HL, Hoe VC, Urquhart 
          DM, Derrett S, McBride D, Herbison P, Gray A.</div>
        <p>Pain. 2013 Jun;154(6):856-63. doi: 10.1016/j.pain.2013.02.008.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2013</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23526195">Cadmium, mercury and lead in the blood of urban women in Croatia, the Czech Republic, Poland, Slovakia, Slovenia, Sweden, China, Ecuador and Morocco.</a></h3>
        
        <div>
          Pawlas N, Strömberg U, Carlberg B, Cerna M, Harari F, Harari R, 
          Horvat M, Hruba F, Koppova K, Krskova A, Krsnik M, Li YF, Löfmark 
          L, Lundh T, Lundström NG, Lyoussi B, Markiewicz-Górka I, Mazej D, 
          Osredkar J, Pawlas K, Rentschler G, Spevackova V, Spiric Z, 
          Sundkvist A, Tratnik JS, Vadla D, Zizi S, Skerfving S, Bergdahl IA.
          </div>
        <p>Int J Occup Med Environ Health. 2013 Mar;26(1):58-72. doi: 10.2478/S13382-013-0071-9. Epub 2013 Mar 22.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2013</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="https://gupea.ub.gu.se/bitstream/2077/32882/1/gupea_2077_32882_1.pdf">Safety and health in mining in Ecuador.</a></h3>
        
        <div>Harari R and Harari F.</div>
        <p>In the book: Elgstrand, K & E Vingård (Eds.): Occupational Safety and Health in Mining – Anthology on the Situation in 16 mining countries. Arbete och Hälsa (Work and Health), Vol 47, No. 2013:2. ISBN 978-91-85971-43-5. ISSN 0346-7821.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2013</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23695413">International variation in absence from work attributed to musculoskeletal illness: findings from the CUPID study.</a></h3>
        
        <div>Coggon D, Ntani G, Vargas-Prada S, Martinez JM, Serra C, Benavides FG, Palmer KT; Members of CUPID Collaboration.</div>
        <p>Occup Environ Med. 2013 Aug;70(8):575-84. doi: 10.1136/oemed-2012-101316. Epub 2013 May 21.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2013</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23727463">Patterns of multisite pain and associations with risk factors.</a></h3>
        
        <div>
          Coggon D, Ntani G, Palmer KT, Felli VE, Harari R, Barrero LH, Felknor SA, 
          Gimeno D, Cattrell A, Vargas-Prada S, Bonzini M, Solidaki E, Merisalu E, 
          Habib RR, Sadeghian F, Masood Kadir M, Warnakulasuriya SS, Matsudaira K, 
          Nyantumbu B, Sim MR, Harcombe H, Cox K, Marziale MH, Sarquis LM, Harari 
          F, Freire R, Harari N, Monroy MV, Quintana LA, Rojas M, Salazar Vega EJ, 
          Harris EC, Serra C, Martinez JM, Delclos G, Benavides FG, Carugno M, 
          Ferrario MM, Pesatori AC, Chatzi L, Bitsios P, Kogevinas M, Oha K, Sirk T, 
          Sadeghian A, Peiris-John RJ, Sathiakumar N, Wickremasinghe AR, Yoshimura 
          N, Kelsall HL, Hoe VC, Urquhart DM, Derrett S, McBride D, Herbison P, Gray A.
        </div>
        <p>Pain. 2013 Sep;154(9):1769-77. doi: 10.1016/j.pain.2013.05.039. Epub 2013 May 29.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2013</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0"><a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23665909">N-6-adenine-specific DNA methyltransferase 1 (N6AMT1) polymorphisms and arsenic methylation in Andean women. </a></h3>
        
        <div>Harari F, Engström K, Concha G, Colque G, Vahter M, Broberg K.</div>
        <p>Environ Health Perspect. 2013 Jul;121(7):797-803. doi: 10.1289/ehp.1206003. Epub 2013 May 8.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2013</span>
      </div>
    </div>
  </div>
</section>