<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="seminariosytalleres">
  <div class="my-auto">
    <h2 class="mb-5">Seminarios y Conferencias</h2>
    <div class="media">
      <img class="mr-3" style="width:168px" src="img/salud.jpg" alt="Ambiente y salud">
      <div class="media-body">
        <h5 class="mt-0">Ambiente y salud</h5>
        <a href="docs/Seminarie_Salud.pdf" target="_blank">Brochure & Programa</a>
      </div>
    </div>
    <hr>
    <div class="media">
      <img class="mr-3" style="width:168px" src="img/ambiente.png" alt="Conferencia Internacional - Salud Ocupacional y Ambiental">
      <div class="media-body">
        <h5 class="mt-0">Conferencia Internacional - Salud Ocupacional y Ambiental, Emergencias en los paises en desarrollo</h5>
         <a href="docs/libro_seminario.pdf" target="_blank">Libro de la conferencia</a> | <a href="docs/International_Conf_Paper_.pdf" target="_blank">Boletín de prensa</a> 
      </div>
    </div>
  </div>
</section>