<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="servicios">
  <div class="my-auto">
    <h2 class="mb-5">Servicios</h2>
    <p>
    <h5>INVESTIGACIÓN</h5>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i> Monitoreo Ambiental
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Monitoreo Biológico
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Bioestadística
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Epidemiología Ocupacional y Ambiental
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Exámenes pre - ocupacionales, post - ocupacionales y vigilancia epidemiológica.
      <li>
    </ul>
    </p>
    <p>
    <h5>COMUNICACIÓN</h5>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i> Difusión de los resultados de los estudios.
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Elaboración de manuales sobre diferentes temas ocupacionales y ambientales
      <li>
    </ul>
    </p>
    <p>
    <h5>FORMACIÓN Y CAPACITACIÓN</h5>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i> Cursos
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Seminarios sobre temas sanitarios, técnicos y legales
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Eventos Nacionales e Internacionales
      <li>
    </ul>
    </p>
    <p>
    <h5>ASESORÍA</h5>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i> Apoyo técnico y científico sobre temas de seguridad e higiene industrial, salud ocupacional y ambiental, organización del trabajo y programas alusivos.
      <li>
      <li>
        <i class="fa-li fa fa-check"></i> Mejoramiento de los puestos y áreas de trabajo.
      <li>
    </ul>
    </p>
    <p>
    <strong>IFA trabaja con instituciones públicas, privadas,
    Universidades, ONG's y personas naturales y jurídicas
    dedicadas a esta temática, a nivel nacional e internacional.</strong>
    </p>
    
  </div>
</section>